doctype html
html
  head
    title Free Leoshop Website Template | About :: w3layouts
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(href='/stylesheets/leoshop/style.css', rel='stylesheet', type='text/css', media='all')
    link(href='http://fonts.googleapis.com/css?family=Exo+2', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='/javascripts/leoshop/jquery1.min.js')
    // start menu
    link(href='/stylesheets/leoshop/megamenu.css', rel='stylesheet', type='text/css', media='all')
    script(type='text/javascript', src='/javascripts/leoshop/megamenu.js')
    script.
      $(document).ready(function(){$(".megamenu").megamenu();});
    // dropdown
    script(src='/javascripts/leoshop/jquery.easydropdown.js')
  body
    .header-top
      .wrap
        .header-top-left
          .box
            select.dropdown(tabindex='4')
              option.label(value='') Language :
              option(value='1') English
              option(value='2') French
              option(value='3') German
          .box1
            select.dropdown(tabindex='4')
              option.label(value='') Currency :
              option(value='1') $ Dollar
              option(value='2') € Euro
          .clear
        .cssmenu
          ul
            li.active
              a(href='login.html') Account
            |  |
            li
              a(href='checkout.html') Wishlist
            |  |
            li
              a(href='checkout.html') Checkout
            |  |
            li
              a(href='login.html') Log In
            |  |
            li
              a(href='register.html') Sign Up
        .clear
    .header-bottom
      .wrap
        .header-bottom-left
          .logo
            a(href='index.html')
              img(src='/images/leoshop/logo.png', alt='')
          .menu
            ul.megamenu.skyblue
              li.active.grid
                a(href='index.html') Home
              li
                a.color4(href='#') women
                .megapanel
                  .row
                    .col1
                      .h_nav
                        h4 Contact Lenses
                        ul
                          li
                            a(href='womens.html') Daily-wear soft lenses
                          li
                            a(href='womens.html') Extended-wear
                          li
                            a(href='womens.html') Lorem ipsum 
                          li
                            a(href='womens.html') Planned replacement
                    .col1
                      .h_nav
                        h4 Sun Glasses
                        ul
                          li
                            a(href='womens.html') Heart-Shaped
                          li
                            a(href='womens.html') Square-Shaped
                          li
                            a(href='womens.html') Round-Shaped
                          li
                            a(href='womens.html') Oval-Shaped
                    .col1
                      .h_nav
                        h4 Eye Glasses
                        ul
                          li
                            a(href='womens.html') Anti Reflective
                          li
                            a(href='womens.html') Aspheric
                          li
                            a(href='womens.html') Bifocal
                          li
                            a(href='womens.html') Hi-index
                          li
                            a(href='womens.html') Progressive
              li
                a.color5(href='#') Men
                .megapanel
                  .col1
                    .h_nav
                      h4 Contact Lenses
                      ul
                        li
                          a(href='mens.html') Daily-wear soft lenses
                        li
                          a(href='mens.html') Extended-wear
                        li
                          a(href='mens.html') Lorem ipsum 
                        li
                          a(href='mens.html') Planned replacement
                  .col1
                    .h_nav
                      h4 Sun Glasses
                      ul
                        li
                          a(href='mens.html') Heart-Shaped
                        li
                          a(href='mens.html') Square-Shaped
                        li
                          a(href='mens.html') Round-Shaped
                        li
                          a(href='mens.html') Oval-Shaped
                  .col1
                    .h_nav
                      h4 Eye Glasses
                      ul
                        li
                          a(href='mens.html') Anti Reflective
                        li
                          a(href='mens.html') Aspheric
                        li
                          a(href='mens.html') Bifocal
                        li
                          a(href='mens.html') Hi-index
                        li
                          a(href='mens.html') Progressive
              li
                a.color6(href='other.html') Other
              li
                a.color7(href='other.html') Purchase
        .header-bottom-right
          .search
            input.textbox(type='text', name='s', value='Search', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Search';}")
            input#submit(type='submit', value='Subscribe', name='submit')
            #response  
          .tag-list
            ul.icon1.sub-icon1.profile_img
              li
                a.active-icon.c1(href='#')  
                ul.sub-icon1.list
                  li
                    h3 sed diam nonummy
                    a(href='')
                  li
                    p
                      | Lorem ipsum dolor sit amet, consectetuer  
                      a(href='') adipiscing elit, sed diam
            ul.icon1.sub-icon1.profile_img
              li
                a.active-icon.c2(href='#')  
                ul.sub-icon1.list
                  li
                    h3 No Products
                    a(href='')
                  li
                    p
                      | Lorem ipsum dolor sit amet, consectetuer  
                      a(href='') adipiscing elit, sed diam
            ul.last
              li
                a(href='#') Cart(0)
        .clear
    .login
      .wrap
        ul.breadcrumb.breadcrumb__t
          a.home(href='#') Home
          |   / About
        .section.group
          .labout.span_1_of_about
            h3 Testimonials
            .testimonials
              .testi-item
                blockquote.testi-item_blockquote
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  .clear
                small.testi-meta
                  span.user Lorem ipsum dolor 
                  | ,
                  span.info sit amet
                  br
                  a(href='#') http://demolink.org
            .testimonials
              .testi-item
                blockquote.testi-item_blockquote
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  .clear
                small.testi-meta
                  span.user Lorem ipsum dolor
                  | ,
                  span.info sit amet
                  br
                  a(href='#') http://demolink.org
          .cont.span_2_of_about
            h3 Our Mission
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            h5.m_6 Meet Our Team
            .section.group
              .col_1_of_about-box.span_1_of_about-box
                a.popup-with-zoom-anim(href='#small-dialog3')
                  span.rollover
                  img(src='/images/leoshop/a-img.jpg', title='continue', alt='')
                #small-dialog3.mfp-hide
                  .pop_up2
                    h2 Lorem ipsum 
                    p
                      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.
                    p
                      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.
                h4.m_7
                  a(href='#') consectetuer adipiscing
                p Lorem ipsum dolor consectetur adipisicing elit, sed do eiusmod.
              .col_1_of_about-box.span_1_of_about-box
                a.popup-with-zoom-anim(href='#small-dialog3')
                  span.rollover
                  img(src='/images/leoshop/a-img1.jpg', title='continue', alt='')
                h4.m_7
                  a(href='#') consectetuer adipiscing
                p Lorem ipsum dolor consectetur adipisicing elit, sed do eiusmod.
              .col_1_of_about-box.span_1_of_about-box
                a.popup-with-zoom-anim(href='#small-dialog3')
                  span.rollover
                  img(src='/images/leoshop/a-img2.jpg', title='continue', alt='')
                h4.m_7
                  a(href='#') consectetuer adipiscing
                p Lorem ipsum dolor consectetur adipisicing elit, sed do eiusmod.
              .clear
            // Add fancyBox main JS and CSS files
            script(src='/javascripts/leoshop/jquery.magnific-popup.js', type='text/javascript')
            link(href='/stylesheets/leoshop/magnific-popup.css', rel='stylesheet', type='text/css')
            script.
              $(document).ready(function() {
              $('.popup-with-zoom-anim').magnificPopup({
              type: 'inline',
              fixedContentPos: false,
              fixedBgPos: true,
              overflowY: 'auto',
              closeBtnInside: true,
              preloader: false,
              midClick: true,
              removalDelay: 300,
              mainClass: 'my-mfp-zoom-in'
              });
              });
          .clear
    .footer
      .footer-top
        .wrap
          .section.group.example
            .col_1_of_2.span_1_of_2
              ul.f-list
                li
                  img(src='/images/leoshop/2.png')
                  span.f-text Free Shipping on orders over $ 100
                  .clear
            .col_1_of_2.span_1_of_2
              ul.f-list
                li
                  img(src='/images/leoshop/3.png')
                  span.f-text Call us! toll free-222-555-6666 
                  .clear
            .clear
      .footer-middle
        .wrap
          .section.group.example
            .col_1_of_f_1.span_1_of_f_1
              .section.group.example
                .col_1_of_f_2.span_1_of_f_2
                  h3 Facebook
                  script.
                    (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                    fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                  .like_box
                    .fb-like-box(data-href='http://www.facebook.com/w3layouts', data-colorscheme='light', data-show-faces='true', data-header='true', data-stream='false', data-show-border='true')
                .col_1_of_f_2.span_1_of_f_2
                  h3 From Twitter
                  .recent-tweet
                    .recent-tweet-icon
                      span  
                    .recent-tweet-info
                      p
                        | Ds which don't look even slightly believable. If you are 
                        a(href='#') going to use nibh euismod
                        |  tincidunt ut laoreet adipisicing
                    .clear  
                  .recent-tweet
                    .recent-tweet-icon
                      span  
                    .recent-tweet-info
                      p
                        | Ds which don't look even slightly believable. If you are 
                        a(href='#') going to use nibh euismod
                        |  tincidunt ut laoreet adipisicing
                    .clear  
                .clear
            .col_1_of_f_1.span_1_of_f_1
              .section.group.example
                .col_1_of_f_2.span_1_of_f_2
                  h3 Information
                  ul.f-list1
                    li
                      a(href='#') Duis autem vel eum iriure 
                    li
                      a(href='#') anteposuerit litterarum formas 
                    li
                      a(href='#') Tduis dolore te feugait nulla
                    li
                      a(href='#') Duis autem vel eum iriure 
                    li
                      a(href='#') anteposuerit litterarum formas 
                    li
                      a(href='#') Tduis dolore te feugait nulla
                .col_1_of_f_2.span_1_of_f_2
                  h3 Contact us
                  .company_address
                    p 500 Lorem Ipsum Dolor Sit,
                    p 22-56-2-9 Sit Amet, Lorem,
                    p USA
                    p Phone:(00) 222 666 444
                    p Fax: (000) 000 00 00 0
                    p
                      | Email: 
                      span mail[at]leoshop.com
                  .social-media
                    ul
                      li
                        span.simptip-position-bottom.simptip-movable(data-tooltip='Google')
                          a(href='#', target='_blank')  
                      li
                        span.simptip-position-bottom.simptip-movable(data-tooltip='Linked in')
                          a(href='#', target='_blank')  
                      li
                        span.simptip-position-bottom.simptip-movable(data-tooltip='Rss')
                          a(href='#', target='_blank')  
                      li
                        span.simptip-position-bottom.simptip-movable(data-tooltip='Facebook')
                          a(href='#', target='_blank')  
                .clear
            .clear
        .footer-bottom
          .wrap
            .copy
              p
                | © 2014 Template by 
                a(href='http://w3layouts.com', target='_blank') w3layouts
            .f-list2
              ul
                li.active
                  a(href='about.html') About Us
                |  |
                li
                  a(href='delivery.html') Delivery & Returns
                |  |
                li
                  a(href='delivery.html') Terms & Conditions
                |  |
                li
                  a(href='contact.html') Contact Us
            .clear
