#footer
	#social
		#social-icons
			a(href='http://www.facebook.com')
				img(src="/images/facebook-icon.png")
			a(href='http://www.twitter.com')
				img(src="/images/twitter-icon.png")
			a(href='http://www.plus.google.com')
				img(src="/images/g+-icon.png")

		p#reficons
			|Icons designed by 
			a(href='http://www.bestpsdfreebies.com/freebie/20-social-media-badges') Denis Shepovalov

	p
		|Page made by 
		span Daniel Serrano Torres
