#footer
	#social
		#social-icons
			img(src="/images/g+-icon.png")
			img(src="/images/twitter-icon.png")
			img(src="/images/facebook-icon.png")

		p#reficons
			|Icons designed by 
			a(href='http://www.bestpsdfreebies.com/freebie/20-social-media-badges') Denis Shepovalov

	p
		|Page made by 
		span Daniel Serrano Torres 
		|maximun hacker in the world
