extends layout

block content
	#cuerpo
		.caja
			.cajagra
				.producto
					a(href='product/facebook')
						img(src='/images/facebook-icon-256.png')
					p.texto-producto Facebook
			.cajapeq
				.producto
					a(href='product/twitter')
						img(src='/images/twitter-icon.png')
					p.texto-producto Twitter
					
			.cajapeq
				.producto
					a(href='product/g+')
						img(src='/images/g+-icon.png')
					p.texto-producto Google+
		.caja
			.cajagra
				.producto
					a(href='product/facebook')
						img(src='/images/facebook-icon-256.png')
					p.texto-producto Facebook
			.cajapeq
				.producto
					a(href='product/twitter')
						img(src='/images/twitter-icon.png')
					p.texto-producto Twitter
			.cajapeq
				.producto
					a(href='product/g+')
						img(src='/images/g+-icon.png')
					p.texto-producto Google+
		