extends layout

block content
	#cuerpo
		#caja
			#vertical
				.cajapeq
					.producto
						img(src='/images/twitter-icon.png')
						p Twitter
				.cajapeq
					.producto
						img(src='/images/g+-icon.png')
						p Google+
			.cajagra
				.producto
					img(src='/images/facebook-icon-256.png')
					p Facebook
		#caja
			#vertical
				.cajapeq
					.producto
						img(src='/images/twitter-icon.png')
						p Twitter
				.cajapeq
					.producto
						img(src='/images/g+-icon.png')
						p Google+
			.cajagra
				.producto
					img(src='/images/facebook-icon-256.png')
					p Facebook
		