doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/screen.css')
		link(rel='stylesheet', href='/stylesheets/ie.css')
		link(rel='stylesheet', href='/stylesheets/sass/menutop.css')
		link(rel='stylesheet', href='/stylesheets/sass/footer.css')
	body
		include menutop
		
		block content

		include footer.jade