doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/screen.css')
		link(rel='stylesheet', href='/stylesheets/ie.css')
		link(rel='stylesheet', href='/stylesheets/menutop.css')
		link(rel='stylesheet', href='/stylesheets/index.css')
		link(rel='stylesheet', href='/stylesheets/footer.css')

		script(type='text/javascript', src='/javascript/productos.js')
	body
		include menutop
		
		block content

		include footer.jade