#supermenu
	.menu
		a(href='/') Home
	.menu
		a(href='/shop') Shop
		.submenu
			a(href='/shop?category=1') Category 1
			a(href='/shop?category=2') Category 2
	.menu
		a(href='/blog') Blog
		.submenu
			a(href='/blog/tag=news') News
			a(href='/blog/tag=company') Company
	.menu
		a(href='/about') About