#supermenu
	.menu
		a(href='#') Home
	.menu
		a(href='#') Shop
		.submenu
			a(href='#') Category 1
			a(href='#') Category 2
	.menu
		a(href='#') Blog
		.submenu
			a(href='#') News
			a(href='#') Company