#footer {
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  background-color: #4cb1ca;
  color: #ffffff;
  position: absolute;
  bottom: 0;
}

#footer a {
  color: #4c00ca;
}

#footer p span {
  font-style: italic;
  text-shadow: 5px 5px 5px #000000;
}

#footer #githubfork {
  float: left;
  display: inline-block;
}

#footer #githubfork {
  float: left;
}

#footer #githubfork img {
  max-width: 64px;
  max-height: 64px;
}

#footer #social {
  margin-left: auto;
  margin-right: 0;
  width: 192px;
}

#footer #reficons {
  text-align: center;
  margin-left: auto;
  margin-right: 0px;
  width: 13em;
}

#footer #social-icons img {
  max-width: 64px;
  max-height: 64px;
}
