html, body
	margin: 0
	padding: 0
	height: 100%

#wrapper
	background-image: url("../images/stardust.png")
	min-height: 100%
	position: relative

body #cuerpo
	display: inline-block
	padding-bottom: 220px

.caja
	float: left
	background-color: rgba(76,177,202,0.7)
	border-radius: 10px
	margin: 5px
	max-width: 384px

.caja .cajagra a img
	max-width: 256px
	max-height: 256px

.caja .cajapeq a img
	max-width: 128px
	max-height: 128px

.caja .cajapeq
	float: left
	width: 128px
	height: 128px

.caja .cajagra
	float: left
	width: 256px
	height: 256px

.producto .texto-producto
	position: relative
	z-index: 100
	text-align: center
	top: -37px
	width: 80%
	margin: 10%
	background-color: rgba(255,255,255,0.5)

.cajagra .producto .texto-producto
	top: -50px
	