#cuerpo {
  height: 300px;
}

#caja {
  float: right;
  height: 132px;
  box-shadow: 5px 5px 3px #000;
  margin: 5px;
}

#caja #vertical {
  float: right;
  width: 64px;
  height: 128px;
}

#caja .cajapeq img {
  width: 64px;
  height: 64px;
}

#caja .cajagra {
  float: right;
  width: 128px;
  height: 128px;
}
