#caja {
  border: 4px solid #000;
}

#caja .cajapeq {
  float: right;
  border: 2px solid #777;
}

#caja .cajapeq img {
  width: 64px;
  height: 64px;
}

#caja .cajagra {
  float: right;
  width: 128px;
  height: 128px;
  border: 2px solid #444;
}
