#cuerpo
	display: inline-block

.caja
	float: left
	display: inline-block
	background-color: rgba(76,177,202,0.7)
	border-radius: 10px
	margin: 5px

.caja .vertical
	float: right
	width: 128px
	height: 256px

.caja .cajapeq img
	width: 128px
	height: 128px

.caja .cajagra
	float: right
	width: 256px
	height: 256px

.producto .texto-producto
	position: relative
	z-index: 100
	text-align: center
	top: -30px
	