#supermenu {
  width: 100%;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #4cb1ca;
  display: inline-block;
  position: relative;
  z-index: 100;
}

#supermenu a {
  text-decoration: none;
}

.menu {
  border: 5px solid #4cb1ca;
  display: block;
  padding: 5px;
  float: left;
  transition: all 0.4s ease-in-out 0s;
}

.menu a {
  color: #000;
}

.menu:hover > .submenu {
  display: block;
}

.menu:hover {
  border: 5px solid #7dd8ed;
}

.menu a:hover {
  color: #fff;
}

.menu .submenu {
  position: absolute;
  font-style: italic;
  display: none;
  background-color: #f0f0f0;
}

.menu .submenu a {
  display: block;
  float: none;
  padding: 10px;
  border-left: 8px solid #f0f0f0;
  color: #797979;
}

.menu .submenu a:hover {
  background-color: #65c3d8;
  color: #fff;
  border-left: 8px solid #9CA3DA;
}
